* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: raleway;
}

.home {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
} 

.cb-slideshow,
.cb-slideshow:after {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}

.cb-slideshow:after {
    content: '';
}

.cb-slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 30s linear infinite 0s;
}

.cb-slideshow li span > img {
    width: 100%;
    z-index: 0;
}

.cb-slideshow li:nth-child(2) span {
    animation-delay: 10s;
}

.cb-slideshow li:nth-child(3) span {
    animation-delay: 20s;
}

/* 
.cb-slideshow li div {
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    animation: titleAnimation 30s linear infinite 0s;
}

.cb-slideshow li div h3 {
    font-size: 100px;
    padding: 0;
    line-height: 200px;
}

.cb-slideshow li div p {
    font-size: 140px;
    font-style: italic;
    padding: 0;
    line-height: 200px;
}

.cb-slideshow li:nth-child(2) div {
    animation-delay: 10s;
}

.cb-slideshow li:nth-child(3) div {
    animation-delay: 20s;
} */

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }

    8% {
        opacity: 1;
        transform: scale(1.05);
        animation-timing-function: ease-out;
    }

    17% {
        opacity: 1;
        transform: scale(1.1);
    }

    50% {
        opacity: 0;
        transform: scale(1.1);
    }

    100% {
        opacity: 0
    }
}

/*
@keyframes titleAnimation {
    0% {
        opacity: 0
    }

    8% {
        opacity: 1
    }

    17% {
        opacity: 1
    }

    30% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
} */

.canvas {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    z-index: 5;
}

.canvas > #title-text {
    font-weight: 100;
    font-size: 1.3em;
    padding-right: 70px;
    z-index: 10;
    color: #ffff;
}

button {
    font-size: .8em;
    color: white;
    background-color: transparent;
    border: 2px solid #fff;
    padding: 12px 20px 12px 20px;
    margin: 20px 0 20px 0;
    transition: .5s;
}

button:hover {
    background-color: rgb(20, 119, 51);
}

button > a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 600px) {
    .home, .cb-slideshow {
        height: 100vh;
    }

    .canvas {
        height: calc(100vh - 125px);
        text-align: center;
        align-items: center;
    }

    .canvas > #title-text {
        padding: 0px;
    }

    .cb-slideshow li span>img {
        width: 160%;
    }
}



/* Home navbar */

.navbar {
    font-size: 1.3em;
    bottom: 0;
    left: 0;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: transparent;
    border-bottom: 3px solid green;
    height: 50px;
    text-align: center;
    width: 100%;
    z-index: 99;
}

.navbar a {
    margin: 12px 20px 12px 20px;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: .3s;
}

.navbar a:hover {
    color: rgb(20, 119, 51);
}

@media screen and (max-width: 600px) {
    .navbar {
        bottom: 125px;
    }

    .navbar a {
        width: 100%;
        background-color: #444649;
        margin: 0;
        padding: 10px 0 10px 0;
    }
}

.about {
    position: relative;
    padding: 100px 10px 100px 10px;   
}

.header { 
    font-family: sans-serif;
    font-size: 3em;
    text-align: center;  
    color: #444649;
}

.bio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0 50px 0;
}

.avatar {
    background-color: white;
}

.avatar > img {
    height: 200px;
    border-radius: 50%;
}

.intro {
    flex-basis: 500px;
    padding: 30px 20px 30px 20px;
    font-size: 1.2em;
    line-height: 1.3em;
    color: #444649;
}

/* Interests icons and captions */

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.interests {
    flex-direction: row;
}

.interests h3 {
    padding-bottom: 10px; 
}

.about .column {
    flex: 50%;
    padding: 0 70px 0 70px;
}

.bullet {
    flex-direction: column;
    justify-content: flex-start;
    height: 230px;
    padding: 0 15px;
}

.icon > img {
    height: 100px;
    width: 100px;
    padding: 10px;
}

.caption {
    text-align: center;
    line-height: 1.4em;
}

/* Projects gallery grid */

.gallery {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px 20px;
}

.gallery .column {
    flex-direction: column;
    width: 50%;
    padding: 0 10px;
}

.gallery .column .card {
    margin-top: 30px;
    width: 400px;
    height: 250px;
}

#ai-site {
    background: url(https://dbportfolio.blob.core.windows.net/images/Deep%20Learning%20Site.jpeg) center center/cover;
}

#bioinformatics-site {
    background: url(https://dbportfolio.blob.core.windows.net/images/bioinformatics%20site.jpeg) center center/cover;
}

#geospatial-site {
    background: url(https://dbportfolio.blob.core.windows.net/images/Geospatial%20site.jpeg) center center/cover;
}

#simulation-site {
    background: url(https://dbportfolio.blob.core.windows.net/images/simulation.jpeg) center center/cover;
}

/* Responsive layout - makes the two columns stack on top of each other  */
@media screen and (max-width: 600px) {
    .gallery .column {
        flex: 100%;
        max-width: 100%;
    }
}

/* Contact form */

.contact {
    padding: 50px 0 50px 0;
}

.contact-invite {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 20px 50px 20px;
    font-size: 1.2em;
    line-height: 1.3em;
    color: #444649;
}

.contact-invite > p {
    max-width: 500px;
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
}

.contact-form {
    list-style: none;
    max-width: 800px;
    flex-basis: 600px;
    margin: 0 20px;
}

.contact-form li {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contact-form li label {
    padding: 10px;
    flex: 1 0 70px;
    max-width: 300px; 
}

.contact-form li input,
.contact-form li textarea {
    padding: 15px;
    margin: 15px;
    flex: 1 0 300px;
    max-width: 500px;
    border: none;
    background: #ddd; 
}

.contact-form li input[type=submit] {
    font-family: raleway, sans-serif;
    border: none;
    flex: .1 0 100px;
    transition: .5s;
}

.contact-form li input[type=submit]:hover {
    color: white;
    background-color: rgb(20, 119, 51)
}

.footer {
    font-family: raleway;
    padding: 50px 50px;
    text-align: center;
    background: rgb(20, 119, 51);;
    color: white;
}